.field {
  display: flex;
}

.pdf1 {
  justify-content: center;
}

.pdf1_img {
  width: 220px;
}

.h2 {
  position: relative;
  padding: 0.2em 0.5em;
  background: linear-gradient(to right, rgb(60, 21, 0),rgb(180, 0, 0), rgb(60, 0, 0));
  width: 1800px;
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  margin-left: 50%;
  transform: translateX(-50%);
}

.member1 {
  position: relative;
  display: flex;
}

.member1 p {
  font-size: 40px;
  margin-left: 35px;
}

.text_design1 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.text_design2 {
  text-align: left;
  flex-direction: column;
}

.URL_design3 {
  flex-direction: column;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.individual1 {
  display: flex;
}

.individual2 {
  display: flex;
  margin-left: 50px;
}

.individual2 img {
  width: 300px;
  background: linear-gradient(rgb(255, 200, 0), rgb(190, 160, 0));
}

.spacer1 {
  padding: 25px;
}

.link_oya {
  position: relative;
}

.link1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .field {
    display: block;
  }
  
  .pdf1 {
    justify-content: center;
  }
  
  .pdf1_img {
    width: 100px;
  }
  
  .h2 {
    position: relative;
    padding: 0.2em 0.5em;
    background: linear-gradient(to right, rgb(60, 21, 0),rgb(180, 0, 0), rgb(60, 0, 0));
    width: 1800px;
    color: white;
    font-weight: lighter;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  .member1 {
    position: relative;
    display: block;
  }
  
  .member1 p {
    margin-left: 35px;
  }
  
  .text_design1 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .text_design2 {
    text-align: left;
    flex-direction: column;
  }
  
  .URL_design3 {
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    font-size: 16px;
  }
  
  .individual1 {
    display: flex;
    padding-left: 20px;
    padding-bottom: 50px;
  }
  
  .individual2 {
    display: flex;
    margin-left: 50px;
  }
  
  .individual2 img {
    width: 300px;
    background: linear-gradient(rgb(255, 200, 0), rgb(190, 160, 0));
  }
  
  .spacer1 {
    padding: 25px;
  }
  
  .link_oya {
    position: relative;
  }
  
  .link1 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
