@media screen and (max-width: 480px) {
    .wrapper {
      margin-top: 10%;
    }
  }
  
  /*メイン*/
  
  
/*――――――――――――――――――――――――――――――――――― トップページ　Top ―――――――――――――――――――――――――――――――――――*/
.teamtheme1 {
  position: absolute;
  display: flex;
  padding-top: 500;
  background-color: #000000;
  width: 100%;
  height: 200px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 800; 
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
}
@media screen and (max-width: 480px) {
    .teamtheme1 {
        position: absolute;
        display: flex;
        padding-top: 500;
        background-color: #000000;
        width: 100%;
        height: 80px;
        vertical-align: middle;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 800; 
        color: #ffffff;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: -10px;
      }
}
/*――――――――――――――――――――――――――――――――――― トップページ　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― グローバル　Top ―――――――――――――――――――――――――――――――――――*/
.space1 {
  margin: 250px;
}

p {
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
}

.underbar_01 {
  background:linear-gradient(transparent 80%, #ae0000 0%);
} 

.underbar_02 {
  background:linear-gradient(transparent 80%, #0065ae 0%);
}   

.pc_view {
  display: block;
}
  
.sp_view {
  display: none;
}

h3 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  margin-bottom: -20px;
}

a:hover {
  color: #700000;
}

a:visited {
  color: #000000;
}
@media screen and (max-width: 480px) {
    .space1 {
        margin: 100px;
      }
      
      p {
        font-family: sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 14px;
      }
      
      .underbar_01 {
        background:linear-gradient(transparent 80%, #ae0000 0%);
      } 

      .pc_view {
        display: none;
      }
      
      .sp_view {
        display: block;
      }

      h3 {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        margin-bottom: 0px;
      }
}
/*――――――――――――――――――――――――――――――――――― グローバル　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― ニュース　Top ―――――――――――――――――――――――――――――――――――*/
.news-list{
    list-style: none outside;
    margin: 0;
    padding: 0;
  }
  .news-list .item a{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #a0a0a0;
    padding: 20px 20px;
  }
  .news-list .item:first-child a{
    border-top: 1px solid #CCC;
  }
  .news-list .item .date{
    margin: 0;
    min-width: 140px;
    font-size: 16px;
    color: #5c5c5c;
    padding: 0 20px 0 0;
  }

/*レギュレーション*/
.news-list .item .category_Regulation {
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}
.news-list .item .category_Regulation span {
    background: #850000;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 1;
}

  /*トラック*/
.news-list .item .category_track {
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}
.news-list .item .category_track span {
    background: #1a9900;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 1;
}

  /*大会の流れ*/
.news-list .item .category_Flowofthegame {
    margin: 0;
    min-width: 140px;
    padding: 0 20px 0 0;
}
.news-list .item .category_Flowofthegame span {
    background: #0060c7;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 1;
}

/*ページ内リンクのズレ解消*/
#idnews {
  margin-top:-125px;
  padding-top:125px;
}

#idtrack {
  margin-top:-125px;
  padding-top:125px;
}

#idregulation {
  margin-top:-125px;
  padding-top:125px;
}

#idFlowofthegame {
  margin-top:-125px;
  padding-top:125px;
}
@media screen and (max-width: 480px) {
    #idnews {
        margin-top:-75px;
        padding-top:75px;
      }
      
      #idtrack {
        margin-top:-75px;
        padding-top:75px;
      }
      
      #idregulation {
        margin-top:-75px;
        padding-top:75px;
      }
      
      #idFlowofthegame {
        margin-top:-75px;
        padding-top:75px;
      }
}


  .news-list .item .title{
    margin: 0;
    width: 100%;
  }
  .news-list .item a:hover .title{
    color: rgb(255, 187, 0);
  }
  
  @media screen and (max-width: 480px){
  .news-list .item a{
    flex-wrap: wrap;
  }
  .news-list .item .date{
    min-width: 100px;
  }
  .news-list .item .title{
    margin-top: 10px;
  }
  }
  
  /* 装飾 */
   
  *{
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
  }
  body{
    margin: 0px;
  }
/*――――――――――――――――――――――――――――――――――― ニュース　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― トラック　Top ―――――――――――――――――――――――――――――――――――*/
h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.track_img {
  display: flex;
  height: 200px;
  justify-content: center;
}

.track_img2 {
  display: flex;
  height: 200px;
  justify-content: center;
}

.start_1 {
  position: relative;
  top: 50px;
  color: #000000;
}

.start_2 {
  position: relative;
  text-align: center;
}

.start_2 p {
  display: inline-block;
  text-align: left;
  color: #000000;
}

.start_3 {
  position: relative;
  text-align: center;
}
  
.start_3 p {
  color: #000000;
}

@media screen and (max-width: 480px) {
    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
      }
      
      .track_img {
        display: flex;
        height: 80px;
        justify-content: center;
      }
      
      .track_img2 {
        display: flex;
        height: 70px;
        justify-content: center;
      }

      .start_1 {
        position: relative;
        top: 50px;
        color: #000000;
      }
      
      .start_2 {
        position: relative;
        text-align: center;
      }
      
      .start_2 p {
        display: inline-block;
        text-align: left;
        color: #000000;
      }
      
      .start_3 {
        position: relative;
        text-align: center;
      }
        
      .start_3 p {
        color: #000000;
      }
}
/*――――――――――――――――――――――――――――――――――― トラック　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― レギュレーション　Top ―――――――――――――――――――――――――――――――――――*/
.Regulation_position {
  position: relative;
  padding-left: 50px;
}

.Regulation_li {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 20px;
}

.Regulation_img {
  list-style: none;
  height: 200px;
}

.Regulation_img_p {
  list-style: none;
  margin-bottom: 10px;
}

.Regulation_img2 {
  list-style: none;
  height: 200px;
}  
@media screen and (max-width: 480px) {
    .Regulation_position {
        position: relative;
        padding-left: 0px;
      }
      
      .Regulation_li {
          font-family: sans-serif;
          font-weight: 500;
          font-size: 14px;
          padding-top: 0px;
      }
      
      .Regulation_img {
        list-style: none;
        height: 160px;
      }
      
      .Regulation_img_1 {
        list-style: none;
        height: 300px;
      }

      .Regulation_img_p {
        list-style: none;
        margin-bottom: 10px;
      }

      .Regulation_img2 {
        list-style: none;
        height: 50%;
      }
}
/*――――――――――――――――――――――――――――――――――― レギュレーション　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― 試合の流れ　Top ―――――――――――――――――――――――――――――――――――*/
.game_position {
  position: relative;
  padding-left: 50px;
}

.game_li {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 20px;
}
@media screen and (max-width: 480px) {
    .game_position {
        position: relative;
        padding-left: 0px;
      }

    .game_li {
        font-family: sans-serif;
        font-weight: 500;
        font-size: 14px;
        padding-top: 10px;
    }

    .game_position {
        position: relative;
        padding-left: 0px;
    }
}

/*カッコの吹き出し*/
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  background: #ff6060;
}
  
.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ff6060;
}
@media screen and (max-width: 480px) {
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #ffffff;
  font-size: 14px;
  background: #ff6060;
}
  
.balloon1-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #ff6060;
}
}
/*――――――――――――――――――――――――――――――――――― 試合の流れ　End ―――――――――――――――――――――――――――――――――――*/

/*――――――――――――――――――――――――――――――――――― フッター　Top ―――――――――――――――――――――――――――――――――――*/
  .footer_space {
    margin: 2.5%;
  }
  
  footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #151515;
  }
  
  footer p {
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 480px) {
    .footer_space {
      margin: 5%;
    }
    
    footer {
      position: relative;
      width: 100%;
      height: 80px;
      background-color: #151515;
    }
    
    footer p {
      position: absolute;
      font-size: 12px;
      color: #ffffff;
      margin: 0;
      padding: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }